<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">JS mini-Projects</h1>
    <p class="lead">This project is made of small projects to perfect the fundamentals of JavaScript! I housed everything in a simple Ruby on Rails app just for fun.  Everything in this project was built by Rene Gomez.</p>
  </div>
</div>
