<div class="row">
  <div class="col-md-6">
    <h1>JavaScript Apps 1</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card" >
      <div class="card-body">
        <h3>Mini Linter</h3>
          <p>Interating through a story to evaluate and remove certain elements.</p>
          <p>
            Original story: Last weekend, I took literally the most beautiful bike ride of my life. The route is called "The 9W to Nyack" and it actually stretches all the way from Riverside Park in Manhattan to South Nyack, New Jersey. It's really an adventure from beginning to end! It is a 48 mile loop and it basically took me an entire day. I stopped at Riverbank State Park to take some extremely artsy photos. It was a short stop, though, because I had a really long way left to go. After a quick photo op at the very popular Little Red Lighthouse, I began my trek across the George Washington Bridge into New Jersey.  The GW is actually very long - 4,760 feet! I was already very tired by the time I got to the other side.  An hour later, I reached Greenbrook Nature Sanctuary, an extremely beautiful park along the coast of the Hudson.  Something that was very surprising to me was that near the end of the route you actually cross back into New York! At this point, you are very close to the end.
          </p>
          <h4 id="originalStoryResults"></h4>
          <h4 id="reportOverUsed"></h4>
          <div id="reportSentenceCount"></div>
          <br>
          <p id="betterStory"></p>
          <br>
          <button type="button" onClick="miniLinter()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h2>Imprecise Kelvin</h2>
          <p>The card uses a prompt and some variables behind the scene to calculate Fahrenheit temp from Kelvin input.</p>
          <h4 id="kelvin"></h4>
          <br>
          <button type="button" onClick="kelvinGame()" class="btn btn-primary btn">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h3>Training Days</h3>
          <p>Practicing scope for variables.</p>
          <h4 id="trainingDayResults"></h4>
          <br>
          <button type="button" onClick="getTrainingEventMessage()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3>Meal Maker</h3>
          <p>Making a menu object that contains properties and methods for creating random meals.</p>
          <h4 id="mealMakerResults"></h4>
          <br>
          <button type="button" onClick="activateRandomMealMaker()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>
</div>
