<div class="row">
  <div class="col-md-6">
    <h1>JavaScript Games</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Whale Speak</h3>
          <p>This game is a whale translator. It really works...seriously!</p>
          <form>
            <div class="form-group">
              <label for="humanSpeak">Human Speak:</label>
              <input type="text" class="form-control" onfocus="this.value=''" id="humanSpeak"></input>
            </div>
          </form>
          <small>Sing this melodiously under water:</small>
          <h4 id="whaleSpeak"></h4>
          <br>
          <button type="button" onClick="whaleTranslator()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Dog Years</h3>
          <p>This game is a calculation of my age in dog years.</p>
          <h4 id="dogYears"></h4>
          <br>
          <button type="button" onClick="dogYearsGame()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Magic Eight Ball</h3>
          <p>Classic Magic Eight Ball</p>
          <h4 id="magicEightBall"></h4>
          <p id="answer"></p>
          <br>
          <button type="button" onClick="magicEightBallGame()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Race Day Registration</h3>
          <p>This is a simple registration for practicing JS control flow.</p>
          <h4 id="raceDayInfo"></h4>
          <br>
          <button type="button" onClick="raceDayRegistration()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Rock, Paper, Scissors</h3>
          <p>Simple rock, paper, scissors to practice JavaScript method calls.</p>
          <form>
            <div class="form-group">
              <label for="userChoice">User's Choice:</label>
              <input type="text" class="form-control" onfocus="this.value=''"id="userChoice"></input>
            </div>
          </form>
          <br>
          <h4 id="choicesMade"></h4>
          <h4 id="rpsResults"></h4>
          <br>
          <button type="button" onClick="playRPSGame()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Sleep Debt</h3>
          <p>Practicing the various formats of method calls.</p>
          <h4 id="sleepDebtResults"></h4>
          <br>
          <button type="button" onClick="calculateSleepDebt()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>
</div>
