<div class="row">
  <div class="col-md-6">
    <h1>JavaScript Apps 1</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2>Imprecise Kelvin</h2>
          <p>The card uses a prompt and some variables behind the scene to calculate Fahrenheit temp from Kelvin input.</p>
          <h4 id="kelvin"></h4>
          <br>
          <button type="button" onClick="kelvinGame()" class="btn btn-primary btn">Activate</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3>Training Days</h3>
          <p>Practicing scope for variables.</p>
          <h4 id="trainingDayResults"></h4>
          <br>
          <button type="button" onClick="getTrainingEventMessage()" class="btn btn-primary">Activate</button>
      </div>
    </div>
  </div>
</div>
